<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
                <!-- Include Tailwind CSS -->
                <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
                <!-- Navbar -->
                <nav class="flex justify-between bg-gray-800 p-6">
                        <div class="container mx-auto flex justify-between items-center">
				<a href="{{url_for('index')}}" class="text-white text-2xl font-bold">World Hotels</a>
                                <!-- Add your navigation links here -->
                        </div>
			<ul class="flex gap-3 list-type-none">
				<li><a href="{{url_for('list_user_bookings')}}" class="text-white text-lg">My Bookings</a></li>
			</ul>
                </nav>
		{% block content %}
		{% endblock %}
	</body>
</html>
